body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe4e1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #add8e6;
    color: #fff;
    border: none;
}

.btn-secondary {
    background-color: #98fb98;
    color: #fff;
    border: none;
    margin-left: 10px;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 600px) {}
