body {
    font-family: 'Arial', sans-serif;
    background-color: #add8e6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.buttons {
    margin-top: 20px;
}
.container {
    text-align: center;
    background-color: #ffe4e1;
    max-width: 4000px; 
    width: 70%; 
    padding: 20px; 
    box-sizing: border-box; 
    padding: 20px 30px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 600px) {}